PORT=5000
NODE_ENV=dev | production
MONGODB_URI=
EMAIL=gmail for mailing
PASSWORD=gmail app password
JWT_SECRET=any
JWT_RESET_SECRET=any
JWT_EMAIL_VERIFY_SECRET=any
CLIENT_URL=http://your_client_url
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=